$color-accent: #D7121D;
$color-primary: red;
$color-secondary: #2B4724;
$color-gray-20: #F6F6F6;
$color-gray-60: #605F5F;

$font-primary: 'Montserrat';
$font-secondary: 'Raleway';


$type-small: 10px;
$type-base: 14px;
$type-base-desc: 18px;
$type-large: 18px;
$type-large-desc: 18px;
