.btn {
  font-family: $font-primary;
  border-radius: 3px;
  padding: 10px 18px;
  font-weight: 500;

  &-accent{
    background-color: $color-accent;
    font-size: $type-base;
    color:  white;
    font-family: $font-primary;
    border-radius: 3px;
    padding: 10px 18px;
    font-weight: 500;

    @media (min-width: 640px) {
      font-size: $type-base-desc;
      padding: 10px 25px;
    }
  }

  &-secondary{
    background-color: $color-secondary;
    font-size: $type-base;
    color:  white;
    font-family: $font-primary;
    border-radius: 3px;
    padding: 10px 18px;
    font-weight: 500;

    @media (min-width: 640px) {
      font-size: $type-base-desc;
      padding: 10px 25px;
    }
  }

  &-outline{
    &-gray{
        background-color: transparent;
        font-size: $type-base;
        color:  black;
        font-family: $font-primary;
        border-radius: 3px;
        padding: 10px 18px;
      border: 1px solid $color-gray-60;
      font-weight: 500;
      transition: .4s;

        @media (min-width: 640px) {
          font-size: $type-base-desc;
          padding: 7px 20px;
        }

      &:hover,:active {
        background-color: $color-gray-20;
      }
      &--lg{
        background-color: transparent;
        font-size: $type-base;
        color:  black;
        font-family: $font-primary;
        border-radius: 3px;
        padding: 5px 12.5px;
        border: 1px solid $color-gray-60;
        font-weight: 300;
        transition: .4s;

        @media (min-width: 640px) {
          font-size: $type-base-desc;
          padding: 18px 35px;
          font-weight: 500;
        }
        &:hover,:active {
          background-color: $color-gray-20;
        }
      }
    }
  }
}
